weather data logger.json
{
  "name": "w4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8cb3827b-a77e-468c-b9b8-9ce9dc624dbf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=New York,US&appid=87616c6ab6ddd8c9b1965a9fb763ccfa",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "0edc86a2-546f-4b32-9b29-311815a68902",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c5c483a-c372-4717-b8e0-edab4a4d4469",
              "name": "city",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "305931a2-1f8f-4959-b172-b3794caedd8f",
              "name": "temp",
              "value": "={{ $json.main.temp }}",
              "type": "string"
            },
            {
              "id": "ea6d0e5f-681c-4eac-94a1-a13499b7708e",
              "name": "weather",
              "value": "={{ $json.weather[0].description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5f43f14d-dc35-42b6-bf5b-a670dabb4921",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Zae7eznae_EonOmjz0lmATLzPB-TaNYwOMT2zPg8FCY",
          "mode": "list",
          "cachedResultName": "wf",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zae7eznae_EonOmjz0lmATLzPB-TaNYwOMT2zPg8FCY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zae7eznae_EonOmjz0lmATLzPB-TaNYwOMT2zPg8FCY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ $json.city }}",
            "temp": "={{ $json.temp }}",
            "weather": "={{ $json.weather }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temp",
              "displayName": "temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weather",
              "displayName": "weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        0
      ],
      "id": "94ea8209-8884-40ff-9745-629173619500",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5DnUw9IulbhVvWhG",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b142dfb2-0908-46f2-aa21-52ca321de7b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24f9413e076b0e023c79b570ea131414d0d957ad4dd1588a7406107c11eed269"
  },
  "id": "u2Vu8XwXYQyXiNp9",
  "tags": []
}